# Python cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
app/.venv/

# Environment files
**/.env

# Uploaded docs
app/src/docs/*
!app/src/docs/.gitkeep

app/src/data/*
!app/src/data/.gitkeep

# OS/editor files
*.DS_Store
